
.review{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    column-gap: 52px;
    row-gap: 70px;
    align-items: center;
}

.reviewWrapper{
    display: flex;
    column-gap: 130px;
    row-gap: 20px;
    justify-content: center;
}

.ItemReview{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 17em;
    text-align: center;
}

.title{
    font-size: 44px;
    font-weight: normal;
}

.name{
    font-size: 32px;
}

.text{
    font-size: 20px;
    color: #B8ACAC;
}

.link{
    text-decoration:none;
    color: white;
    font-size: 20px;
    margin-right: 100px;
    position: relative;
}

.link::before{
    content: "";
    background: #CEA167;;
    width: 185px;
    height: 1px;
    top: 35px;
    position: absolute;
}

.wraperLink{
    /* margin-bottom: 70px; */
    display: flex;
    justify-content: right;
    min-width: 100%;
}
