@font-face {
  font-family: 'Georgia';
  src: url('./fonts/Georgia-Bold.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('./fonts/Georgia.eot');
  font-weight: bold;
  font-style: normal;
}


body, html{
  /* min-height: 100vh; */
	font-family: 'Georgia';
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width:75%;
  /* max-width: 1200px; */
}


img{
  max-width: 100%;
}